In [75]:
pd.__version__

'2.3.1'

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [5]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [7]:
df['fuel_type'].nunique()

2

Q2 Record count: How many records are in the dataset?

In [6]:
df.shape[0]

9704

Q3. Fuel types: How many fuel types are presented in the dataset?

Q4. Missing values: How many columns in the dataset have missing values?

In [8]:
missing_cols = df.isna().any().sum()
print(int(missing_cols))

4

Q5. Max fuel efficiency:What's the maximum fuel efficiency of cars from Asia?

In [12]:
asia_max_mpg = df.loc[df['origin'].eq('Asia'), 'fuel_efficiency_mpg'].max()
print(f"{asia_max_mpg:.0f}")

24

Q6. Median value of horsepower: Find the median value of the horsepower column in the dataset

In [27]:
print(f"{df['horsepower'].median():.0f}")

149

calculate the most frequent value of the same horsepower column

In [37]:
hp = pd.to_numeric(df['horsepower'], errors='coerce')
mode_hp = hp.mode(dropna=True).iloc[0]
print(f"{mode_hp:.0f}")

152

Q6 3. Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.

In [38]:
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')

In [39]:
mode_val = df['horsepower'].mode(dropna=True).iloc[0]

In [40]:
df['horsepower'] = df['horsepower'].fillna(mode_val)

In [41]:
print("Remaining NaNs:", df['horsepower'].isna().sum(), "| Filled with:", mode_val)

Remaining NaNs: 0 | Filled with: 152.0

Q6 4. Now, calculate the median value of horsepower once again.

In [44]:
hp_median_after = df['horsepower'].median()
print(f"Median horsepower (after fillna): {hp_median_after}")

Median horsepower (after fillna): 152.0

Has it change?

No

Q7 Sum of weights: (q1) Select all the cars from Asia

In [47]:
asia_cars = df.loc[df['origin'].str.strip().str.casefold() == 'asia'].copy()
print(len(asia_cars))

3247

Q7 2. Select only columns vehicle_weight and model_year

In [51]:
asia_two = asia_cars.loc[:, ['vehicle_weight', 'model_year']].copy()
print("Shape:", asia_two.shape)

Shape: (3247, 2)

Q7 3. Select the first 7 values

In [52]:
first7 = asia_two.head(7)
first7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [55]:
USA_two = asia_cars.loc[:, ['vehicle_weight', 'model_year']].copy()
first7 = USA_two.head(7)
first7

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

A7 4. Get the underlying NumPy array. Let's call it X

In [58]:
X = first7.astype(float).to_numpy()
print(X)
print("X shape:", X.shape)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]
X shape: (7, 2)

A7 5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [60]:
XTX = X.T @ X
print("XTX shape:", XTX.shape)
print(XTX)

XTX shape: (2, 2)
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

A7 6. Invert XTX

In [67]:
XTX_inv = np.linalg.inv(XTX)
np.set_printoptions(suppress=True)
print("XTX_inv shape:", XTX_inv.shape)
print(np.round(XTX_inv, 4))

XTX_inv shape: (2, 2)
[[ 0. -0.]
 [-0.  0.]]

A7 7. Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [70]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200], dtype=float)
assert y.size == X.shape[0]
print("y shape:", y.shape)
print("y:", [int(v) for v in y])

y shape: (7,)
y: [1100, 1300, 800, 900, 1000, 1100, 1200]

Q7 8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

In [71]:
XTX_inv
w = XTX_inv @ X.T @ y
w_rounded = [round(float(v), 2) for v in w]
print("w:", w_rounded)

w: [0.01, 0.5]

Q7 9. What's the sum of all the elements of the result?

In [73]:
sum_w = float(w.sum())
print(f"{sum_w:.0f}")

1